.navbar-nav{
    float: right; 
}
body{
    background-image: url('https://images.pexels.com/photos/442575/pexels-photo-442575.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-repeat: no-repeat;
    background-size: 100% 853px;
    background-attachment: fixed;
    background-position: center; 
    font-family: 'Roboto Mono', monospace;
}
header{
    margin-top:5%;
    text-align: center;
    justify-content: center;
}
.container{
    margin-top: 5%;
}
hr{
    border-width: 3px;
}
 .profile-img{
    display: box;
    border-radius: 100%;
    text-align: center;
    width:15%;
    height: 15%;
    margin: 0 auto;
}

.about{
    position: relative;
    height: 100%;
    padding-bottom: 3%;
    color: black;
    background-color: rgba(247, 238, 238,0.7);
    position: relative;
}

 .project{
     background-color: rgba(247, 237, 237, 0.7);
 }
 .skill{
    background-color: rgba(248, 237, 237, 0.7);
 }
 .contact{
     background-color: rgba(248,238,238,0.7);
 }
 footer{
     background-color: 	rgb(255, 179, 179);
     height: 25%;
     margin-bottom:0;
     
 }

 .download-btn{
     margin: 0 auto;
     background-color:rgb(176, 79, 79);
     color:rgb(247, 237, 237);
     padding: 1rem;
     text-decoration: none;
     border: bisque 1pt;
 }
 .contact a:link{
    color:rgb(176, 79, 79);
 }
 
 .resume{
     padding-top: 10%;
 }
 .contactinfo{
     margin-top: 10%;
 }
 /*****TEXT-COLOR*****/
 .subtext{
    background-color: rgb(255, 229, 229);
    color: rgb(72, 30, 30);
}
h5{
    color: rgb(72, 30, 30);
}
.skill h5{
    color: rgb(126, 53, 53);
}
.footer h6{
    color: rgb(54, 23, 23);
}
header{
    color: rgb(54, 23, 23);
    text-decoration: bold;
}
 /***********OVERLAY */
 .projelem{
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
 }
 .projelem .projelem-overlay {
    background: rgb(255, 102, 102);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  .projelem:hover .projelem-overlay {
    opacity: 0.7;
  }
 
  .projelem .project-title {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .projelem:hover .project-title{
    top: 50%;
    left: 50%;
    color: papayawhip;
    cursor: pointer;
    opacity: 1;
  }
  
  .project-title {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  /***********OVERLAY */

 /********FLEXBOX FOR PROJECT DIV******/ 
 .projectlist{
     display: flex;
      flex-wrap: wrap;
      list-style: none;
      justify-content: center;
      
  }
  .projelem{
      list-style: none;
      display: inline-block;
      flex-basis: 30%;
      width:30%;
      margin: 2%;
  }

  /****BUTTON***/
  /****"DOWNLOAD MY CV" BUTTON****/
 .download-btn a:hover{
    text-decoration: none;
    cursor: pointer;
    color: bisque;
}
.download-btn a:link, a:visited{
   text-decoration: none;
   cursor: pointer;
   color:rgb(247, 237, 237);
}
/****"DOWNLOAD MY CV" BUTTON****/
/*****GITHUB BUTTON****/
 .project-btn{
    text-decoration: none;
    cursor: pointer;
    color:rgb(247, 237, 237);
    background-color:rgb(176, 79, 79);
    text-align: center;
    padding: 0.5%;
}
.project-btn:hover{
    text-decoration:none;
    color: rgb(176, 79, 79);
    background-color: rgb(247, 237, 237);
}
.project-btn a:link, a:visited{
    text-decoration: none;
    cursor: pointer;
    color:rgb(247, 237, 237);
    background-color:rgb(176, 79, 79);
    text-align: center;
}
.project-btn a:hover{
    text-decoration:none;
    color: rgb(255, 102, 102);
    background-color: rgb(247, 237, 237);
}
/***GRAD BAR ANIMATION***/
.grade{
    width: 30%;
}
.grade-bar{
    width: 0%;
    height: 1rem;
    background:	rgb(102, 153, 255);
    -webkit-transition: width 5s; 
    transition: width 5s;
}
.skill:hover .grade-bar-rl{
    width:80%;
}
.skill:hover .grade-bar-js{
    width:60%;
}
.skill:hover .grade-bar-ux{
    width:60%;
}
.skill:hover .grade-bar-other{
    width:70%;
}
/****HOBBY HOVER ANIMATION***/
.hobby{
    background-color: rgba(0,0,0,0.7);
    color:rgb(247, 237, 237);
    position: absolute;
    bottom: 0px;
    right: 0px;
    width:0%;
    height:75%;
    transition: all 2s ease-out 0s;
    opacity: 0.1;
}
.hobby:hover {
    bottom: 0px;
    padding-right: 0px;
    width: 25%;
    opacity: 1;
}
.hobby-list{
    display: none;
    transition: all 2s ease-out;
}
.hobby-list li{
    list-style: none;
}
.hobby:hover .hobby-list{
    display: block;
    opacity: 1;
}
